/* Imported Media */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Raleway:wght@400;600&display=swap');

/* Default Fonts */
$font-heading: 'Poppins', sans-serif;
$font-body: 'Raleway', sans-serif;

/* Default Appearance */
$border-round: 10px;
$box-shadow-dark: 0 2px 4px 0 rgba(14,30,37,.12);

/* Default Colors */
$color-primary: #2E3C42;
$color-secondary: #58737E;
$color-primary-light: #91BCCF;
$color-secondary-light: #607E8A;
$color-accent: #69FFE0;
$color-cta: #5CFF82;
$color-muted: #8d8d8d;
$color-link-unclicked: #4682B4;
$color-link-clicked: #48527e;
$color-link-hover: #52acc7;
$color-background-light: #f4fdfd;
$color-background-dark: #242E33;
$color-complimentary-orange: #FFB75C;

/* GLOBAL SETTINGS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color-primary;
    /*border: 1px solid pink;*/
}

html{
    font-size: 10px;
    font-family: $font-body;
    font-weight: 400;
    background-color: $color-background-dark;
    scroll-behavior: smooth;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6{
    font-family: $font-heading;
    font-weight: 600;

    &.heavy{
        font-weight: 800;
    }

    &.light{
        color: $color-primary-light;
    }
}

html h1{
    font-size:5.5vmax;
}

html h2{
    font-size: 4.5vmax;
}

html h3{
    font-size: 3.5vmax;
}

html h4{
    font-size: 2.5vmax;
}

html h5{
    font-size: 2vmax;
}

html h6{
    font-size: 2vmax;
}

html p,
html li{
    font-size: 2rem;
}

html a{
    font-size: 1.5rem;

    &:link{
        color: $color-link-unclicked;
    }

    &:visited{
        color: $color-link-clicked;
    }

    &:hover{
        color: $color-link-hover;
    }
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 120px;

    article{
        margin-top: 120px;
        width: 80%;
        justify-self: flex-start;
        align-self: flex-start;

        *.spaced *{
            margin: 12rem 0;
        }

        span.center{
            text-align: center;
        }

        h1{
            font-weight: 600;
        }

        h4{
            font-weight: 600;
            color: $color-secondary;
            margin-bottom: 60px;

            &.light{
                color: $color-secondary-light;
            }
        }
        
        p{
            margin-bottom: 30px;
        }

        .cta-container{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 120px;

            a.btn{
                text-decoration: none;
                padding: 8px 20px;
                background: $color-accent;
                border-radius: $border-round;
                display: flex;
                align-items: center;
                flex-direction: row;

                h5{
                    font-weight: 600;
                    color: $color-primary;
                }

                &:hover{
                    background: $color-cta;
                }

                &:hover .fas{
                    padding-left: 3rem;
                    transition: all .25s ease-in-out;
                }

                i.fas{
                    font-size: 2vmax;
                    margin: 0 0 -2px 2rem;
                    transition: all .25s ease-in-out;
                }
            }
        }

        .swiper-container {
            width: 50%;
            height: 550px;
        
            .swiper-slide{
                background-position: center;
                background-size: cover;
                background: $color-background-light;
                padding: 4rem 5rem;
                height: 100%;
                width: 100%;

                *{
                    background: #fff;
                    box-shadow: $box-shadow-dark;
                    border-radius: $border-round;
                    padding: .5rem 1rem;
                }

                h4{
                    text-align: center;
                    margin-bottom: 2rem;
                }

                p{
                    display: flex;
                    flex-direction: column;
                    font-size: 1.5vmax;

                    span{
                        background: transparent;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 3rem 0 0 0;
                        font-style: italic;
                        font-weight: 600;
                        color: lighten($color: $color-primary, $amount: 35%);

                        &:before{
                            content: '-';
                        }
                    }
                }
            }

            .swiper-pagination{
                z-index: 50;
                .swiper-pagination-bullet-active{
                    background: $color-accent;
                }
            }
        }
    }
}

.relative-container{
    position: relative;
}

/* MAIN NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    z-index: 1000;
    padding: 0 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/black-bg-1.jpg);
    background-size: contain;

    a#brand-container{
        color: white;
        text-decoration: none;
    }

    .brand-container{
        display: flex;
        align-items: center;

        img{
            height: 60px;
        }

        .text-container{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            padding-left: 2rem;
            margin-right: 4rem;

            h1{
                font-size: 4.75rem;
                margin-bottom: -2px;
                line-height: 5rem;
                color: white;
                font-weight: 600;
            }
            h3{
                font-size: 1.85rem;
                color: $color-accent;
                font-weight: 600;
            }
        }
    }

    .menu-container{
        display: flex;
        justify-content: flex-start;
        width: 100%;

        ul{
            list-style: none;
            width: 100%;
        }

        ul li{
            float: right;
        }

        ul li a{
            color: white;
            text-decoration: none;
            font-size: 2rem;
            font-family: $font-heading;
            font-weight: 600;
            white-space: nowrap;
            padding: 5px 10px;
            border-radius: $border-round;
            transition: all 0.15s ease-in-out;
            margin-left: 50px;

            &:hover{
                background: $color-accent;
                color: $color-primary;
                transition: all 0.15s ease-in-out;
            }

            &.cta{
                background: $color-accent;
                color: $color-primary;

                &:hover{
                    background: $color-cta;
                }
            }
        }
    }
}

/* SIDENAV */
#webapp_cover{ /* hamburger button */
    display: none;
}


.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $color-background-dark;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 47px; /* Place content 47px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.toggle{ /* applied to and removed from .sidenav via nav.js */
        width: 275px;
    }

    div a{
        padding: 12px 8px 12px 22px;
        margin-bottom: 10px;
        text-decoration: none;
        color: white;
        font-family: $font-heading;
        font-size: 2.5rem;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
    }

    .sidenav-extras{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        height: 400px;
        background: #F7FBFB;

        img{
            width: 90%;
        }

        h1{
            font-size: 2rem;
            white-space: nowrap;
        }
    }
}

/* HOME */
section#home{
    background-image: url(../img/black-bg-1.jpg);
    padding-top: 37.5vh;
    background-size: 20%;
    flex-direction: column;
    justify-content: flex-start;

    .title-container{
        text-align: center;
        display: flex;
        height: 50vh;
        flex-direction: column;
        align-items: center;

        h2{
            color: #fff;
            font-weight: 600;
        }

        h4{
            font-weight: 400;
            color: $color-muted;
        }

        h5, h5 *{
            color: $color-muted;
        }

        a{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            transition: all .25s ease-in-out;

            &:hover{
                padding-top: 2rem;
                transition: all .25s ease-in-out;
            }
        }

        .cta-container{
            flex-grow: 1;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: flex-end;

            a.btn{
                text-decoration: none;
                padding: 8px 20px;
                background: $color-accent;
                border-radius: $border-round;
                display: flex;
                align-items: center;
                flex-direction: row;

                h5{
                    font-weight: 600;
                    color: $color-primary;
                }

                &:hover{
                    background: $color-cta;
                }

                &:hover .fas{
                    padding-left: 3rem;
                    transition: all .25s ease-in-out;
                }
            }

            i.fas{
                font-size: 2vmax;
                margin: 0 0 -2px 2rem;
                transition: all .25s ease-in-out;
            }
        }
    }
}

/* CUSTOM */
section#custom{
    background: $color-background-light;

    article{
        .process{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: $border-round;

            .step{
                width: 100%;
                border-radius: $border-round;
                background: #fff;
                box-shadow: $box-shadow-dark;
                display: flex;
                transition: all 0.1s ease-out;
                transition-delay: 5000s;
                opacity: 0;
                margin-bottom: 10rem;
    
                &.unhide{
                    opacity: 1;
                    transition: all 0.75s ease-out;
                    transition-delay: 0.2s;
                }

                .icon{
                    height: 200px;
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    img{
                        height: 200px;
                        width: 200px;
                    }
                }

                .detail{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .top{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        h4{
                            font-size: 4.75rem;
                            margin: 0 0 0 2rem;
                            color: $color-primary;
                        }

                        a.btn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-family: $font-heading;
                            font-size: 2.5rem;
                            padding: .5rem 2rem;
                            margin: 1rem;
                            border-radius: $border-round;
                            box-shadow: $box-shadow-dark;
                            transition: all 0.15s ease-in-out;

                            &:hover{
                                background: $color-accent;
                                transition: all 0.15s ease-in-out;
                            }

                            &:hover i{
                                margin-left: 6rem;
                                transition: all 0.15s ease-in-out;
                            }

                            h6{
                                font-size: 2rem;
                            }

                            i{
                                font-size: 2rem;
                                margin-left: 2rem;
                                transition: all 0.15s ease-in-out;
                            }
                        }
                    }

                    .bottom{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        p{
                            margin: 2rem;
                            justify-self: flex-end;
                        }
                    }
                }
            }
        }

    }
}

/* TESTIMONIALS */
section#testimonials{
    min-height: unset;
    height: auto;
    margin-bottom: 120px;

    article{
        display: flex;

        .title-container{
            width: 50%;
            margin-right: 5rem;

            h4{
                margin-bottom: 0px;
            }
        }
    }
}

/* CONTACT */
section#contact{
    background: $color-background-light;
    height: 100%;
    margin-bottom: 60px;

    .form-container{
        width: 100%;
        margin-top: 60px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;

        .spacer{
            width: 50%;
            background-image: url(../img/ab_webdev_logo.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    form{
        width: 360px;
        min-width: 360px;
        max-width: 360px;
        margin-right: 120px;

        label{
            font-size: 1.5rem;
            background: rgb(247,251,251);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 3px 0 15px 3px;
            font-weight: bold;

            span{
                color: red;
            }
        }

        input, textarea{
            margin-bottom: 1.5rem;
            padding: 1.5rem 2rem;
            border: none;
            outline: none;
            background: white;
            box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
            border-radius: 10px;
            width: 100%;
            appearance: none;

            &:focus{
                box-shadow: 0 0 0 1pt $color-cta;
            }
        }

        #submit{
            margin: 1.5rem 0;
            padding: 1.5rem 2rem;
            border: none;
            outline: none;
            background: $color-accent;
            color: #2E3C42;
            box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
            border-radius: 10px;
            width: 100%;
            font-weight: 600;
            font-size: 3rem;
            appearance: none;
            transition: all .25s ease-in-out;
            font-family: $font-heading;

            &:hover{
                cursor: pointer;
                background: $color-cta;
                transition: all .25s ease-in-out;
            }
        }
    }
}

/*design-process.html*/
/*Design Process*/
section#design-process{
    margin-top: 120px;
    background: $color-background-light;

    article{
        h1{
            line-height: 90%;
            margin-bottom: 60px;
        }

        h4{
            margin: 60px 0 30px 0;
        }

        p a{
            font-size: 2rem;
        }

        ul{
            display: inline-block;
            text-align: left;
            margin-bottom: 6rem;
            font-weight: bold;

            li{
                background: #fff;
                padding: 0 1rem;
                box-shadow: $box-shadow-dark;
                border-radius: $border-round;

                p{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

footer{
    height: 300px;
}


/* breakpoints */
$bp-laptop-l: 1440px;
$bp-laptop-m: 1300px;
$bp-laptop-s: 1024px;
$bp-tablet: 768px;
$bp-mobile-l: 425px;
$bp-mobile-m: 375px;
$bp-mobile-s: 320px;

@media(max-width: $bp-laptop-l){

    /* GLOBAL SETTINGS */
    section{
        article{
            margin-top: 60px;
        }
    }
    
    /* MAIN NAV */
    nav{
        padding: 0 7.5rem;

        .brand-container{
            img{
                height: 40px;
            }
            .text-container{
                h1{
                    font-size: 3rem;
                    margin-bottom: -10px;
                    margin-top: -5px;
                }

                h3{
                    font-size: 1.25rem;
                }
            }
        }
    }

    /* SIDENAV */
    /* HOME */
    /* CUSTOM */
    /* TESTIMONIALS */
    /* CONTACT */
    section#contact{
        .form-container{
            margin-top: 60px;

            form{
                margin-right: 60px;
            }
            .spacer{
                width: 90%;
            }
        }
    }

}

@media(max-width: $bp-laptop-m){

    /* GLOBAL SETTINGS */
    section{    
        article{
            margin-top: 60px;

            .swiper-container{

                .swiper-slide{
                    padding: 3rem 4rem;

                    p{
                        font-size: 1.85vmax;
                    }
                }
            }
        }
    }
    
    /* MAIN NAV */
    nav{
        padding: 0 5rem;

        .menu-container{
            ul li a{
                font-size: 1.65rem;
                margin-left: 30px;
            }
        }
    }

    /* SIDENAV */
    /* HOME */
    /* CUSTOM */
    /* TESTIMONIALS */
    /* CONTACT */
}

@media(max-width: $bp-laptop-s){

    /* GLOBAL SETTINGS */
    section{
        article{
            *.spaced *{
                margin: 5rem 0;
            }

            .cta-container{
                margin-bottom: 60px;
    
                a.btn{
    
                    &:hover{
                        background: $color-accent;
                    }
    
                    &:hover .fas{
                        padding-left: 0;
                    }
                }
            }

            .swiper-container{
                .swiper-slide{
                    padding: 2rem 2rem;

                    p{
                        font-size: 2vmax;
                    }
                }
            }
        }
    }

    /* MAIN NAV */
    nav{
        .menu-container{
            position: absolute;
            top: -9999%;
            left: -9999%;
            visibility: hidden;
        }

        #webapp_cover{
            display: unset;
        }
    }

    /* SIDENAV */
    /* HOME */
    section#home{
        background-size: 30%;

        .title-container{
            height: 40vh;

            a{
                margin-top: 20px;

                &:hover{
                    padding-top: 0;
                }
            }

            .cta-container{
                a.btn{
                    &:hover{
                        background: $color-accent;
                    }
    
                    &:hover .fas{
                        padding-left: 0;
                    }
                }
            }
        }
    }

    /* CUSTOM */
    section#custom{

        article{
            .process{
                .step{
                    flex-direction: column;

                    .icon{
                        height: 75px;
                        width: 100%;
                        justify-content: flex-end;
                        border-top-left-radius: $border-round;
                        border-top-right-radius: $border-round;

                        img{
                            height: 75px;
                            width: 75px;
                        }

                        &#design{
                            background: $color-complimentary-orange;
                        }

                        &#develop{
                            background: $color-primary;
                        }

                        &#deliver{
                            background: $color-accent;
                        }
                    }
                }
            }
        }
    }
    /* TESTIMONIALS */
    /* CONTACT */
    section#contact{
        .form-container{
            form{
                margin-right: 30px;
            }
            .spacer{
                width: 100%;
                background-image: url(../img/ab_webdev_logo_vert.svg);
            }
        }
    }

}

@media(max-width: $bp-tablet){

    /* GLOBAL SETTINGS */
    section{
        article{
            .swiper-container{
                width: 80%;
                height: 400px;
                margin-top: 3rem;
            
                .swiper-slide{
    
                    h4{
                        font-size: 4vmin;
                    }
    
                    p{
                        font-size: 1.85vmax;
                    }
                }
            }
        }
    }

    /* MAIN NAV */
    /* SIDENAV */
    /* HOME */
    section#home{
        background-size: 40%;
    }

    /* CUSTOM */
    section#custom{
        article{
            .process{
                .step{
                    .detail{
                        .top{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    /* TESTIMONIALS */
    section#testimonials{
        min-height: unset;
        height: auto;
        margin-bottom: 60px;
    
        article{
            display: flex;
            flex-direction: column;
    
            .title-container{
                width: 100%;
                margin-right: 5rem;
    
                h4{
                    margin-bottom: 0px;
                }
            }
        }
    }

    /* CONTACT */
    section#contact{
        article{
            h1{
                text-align: center;
            }
        }
        .form-container{
            margin-top: 60px;
            flex-direction: column-reverse;
            align-items: center;
            height: 100%;

            form{
                width: 100%;
                min-width: unset;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .spacer{
                height: 100px;
                width: 100%;
                background-image: url(../img/ab_webdev_logo.svg);
            }
        }
    }

}

@media(max-width: $bp-mobile-l){
    
    /* GLOBAL SETTINGS */
    section{    
        article{
            margin-top: 20px;

            .swiper-container{
                width: 100%;
                height: 375px;
                margin-top: 3rem;
            
                .swiper-slide{
    
                    h4{
                        font-size: 5vmin;
                    }
    
                    p{
                        font-size: 1.85vmax;

                        span{
                            padding-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    /* MAIN NAV */
    nav{
        padding: 0 2.5rem;
    }

    /* SIDENAV */
    /* HOME */
    section#home{
        background-size: 50%;
    }

    /* CUSTOM */
    

    /* TESTIMONIALS */
    /* CONTACT */

    /*design-process.html*/
    /*Design Process*/
    section#design-process{
        margin-top: 120px;
        background: $color-background-light;

        article{
            h1{
                line-height: 90%;
                margin-bottom: 60px;
            }
            
            h4{
                margin: 60px 0 20px 0;
            }
        }
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    
    .sidenav{
        padding-top: 15px;

        div a{
            font-size: 1.5rem;
        }
    }
}